@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Восстановление доступа";
}

<h1>@ViewData["Title"]</h1>
<p>
    Пожалуйста, проверьте ваш Email для сброса пароля.
    Please check your email to reset your password.
</p>

